Repository dyno-nuggets/refonte-implicaction, pull requests merged in 2021-12, with the labels that each got.

#202 RI-199: [admin/front] refacto de la méthode getFilterFromQueryParams du composant BaseWithPaginationComponent
  frontend-implicaction/src/app/admin/companies/components/companies-table/companies-table.component.ts
  frontend-implicaction/src/app/admin/jobs/components/jobs-table/jobs-table.component.html
  frontend-implicaction/src/app/admin/jobs/components/jobs-table/jobs-table.component.ts
  frontend-implicaction/src/app/job/components/jobs-list/jobs-list.component.ts
  frontend-implicaction/src/app/shared/components/base-with-pagination/base-with-pagination.component.spec.ts
  frontend-implicaction/src/app/shared/components/base-with-pagination/base-with-pagination.component.ts
Labels: admin

#206 RI-201: teste le company service
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/CompanyServiceTest.java
Labels: Test

#208 RI-202: [Authentification] envoie un mail de notification à l'inscription et à la validation d'un utilisateur
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/CommentAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/config/SecurityConfig.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/ApplicationStatusDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/NotificationEmailDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/Notification.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/NotificationTypeEnum.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/TypeEnum.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/User.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/NotificationRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/UserRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/AuthService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/MailService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/NotificationService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/Message.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/repository/NotificationRepositoryTest.java
Labels: auth, notification

#209 Ri-200 : Ajoute la page Espace Entreprise
  frontend-implicaction/src/app/app-routing.module.ts
  frontend-implicaction/src/app/app.module.ts
  frontend-implicaction/src/app/company/company-routing.module.ts
  frontend-implicaction/src/app/company/company.module.ts
  frontend-implicaction/src/app/company/components/business-area/business-area.component.html
  frontend-implicaction/src/app/company/components/business-area/business-area.component.scss
  frontend-implicaction/src/app/company/components/business-area/business-area.component.spec.ts
  frontend-implicaction/src/app/company/components/business-area/business-area.component.ts
  frontend-implicaction/src/app/home/components/index/index.component.html
  frontend-implicaction/src/app/shared/components/header/header.component.html
  frontend-implicaction/src/app/shared/enums/univers.ts
  frontend-implicaction/src/assets/img/bandeau_business_area.jpg
  frontend-implicaction/src/assets/img/banner.jpg
  frontend-implicaction/src/assets/img/business_area.jpg
  frontend-implicaction/src/assets/img/logo_implicaction.png
  frontend-implicaction/src/assets/variables.scss
Labels: companies

#212 RI-213: modifie les toasters de déconnexion et de connexion
  frontend-implicaction/src/app/auth/components/login/login.component.ts
  frontend-implicaction/src/app/shared/components/header/header.component.ts
Labels: notification

#203 RI-192: [admin/front] permet d'archiver plusieurs offres depuis le listing d'offres
  frontend-implicaction/src/app/admin/jobs/admin-jobs.component.html
  frontend-implicaction/src/app/admin/jobs/admin-jobs.component.scss
  frontend-implicaction/src/app/admin/jobs/admin-jobs.component.ts
  frontend-implicaction/src/app/admin/jobs/admin-jobs.module.ts
  frontend-implicaction/src/app/admin/jobs/components/jobs-table/jobs-table.component.html
  frontend-implicaction/src/app/admin/jobs/components/jobs-table/jobs-table.component.scss
  frontend-implicaction/src/app/admin/jobs/components/jobs-table/jobs-table.component.spec.ts
  frontend-implicaction/src/app/admin/jobs/components/jobs-table/jobs-table.component.ts
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/job/services/job.service.ts
  frontend-implicaction/src/app/shared/models/uris.ts
Labels: admin, jobs

#214 RI-206: ajoute le champ sector a job posting et ajoute la dropdownlist dans le formualire de création
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/JobPostingAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/JobPostingDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/BusinessSectorEnum.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/JobPosting.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/JobApplicationAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/JobApplicationServiceTest.java
  frontend-implicaction/src/app/admin/jobs/components/job-posting-form/job-posting-form.component.html
  frontend-implicaction/src/app/admin/jobs/components/job-posting-form/job-posting-form.component.ts
  frontend-implicaction/src/app/shared/enums/sector.enum.ts
  frontend-implicaction/src/app/shared/models/job-posting.ts
Labels: jobs

#210 RI-217: rejoint un groupe
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/GroupAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/GroupController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/UserController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/GroupDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/GroupRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/GroupService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/PostService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/UserService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/ApiUrls.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/Message.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/GroupAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/UserControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/repository/GroupRepositoryTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/GroupServiceTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/PostServiceTest.java
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/discussion/components/top-group-listing/top-group-listing.component.html
  frontend-implicaction/src/app/discussion/components/top-group-listing/top-group-listing.component.ts
  frontend-implicaction/src/app/discussion/discussion.module.ts
  frontend-implicaction/src/app/discussion/services/group.service.ts
  frontend-implicaction/src/app/shared/models/uris.ts
  frontend-implicaction/src/app/user/services/user.service.ts
Labels: users

#216 RI-219: permet d'ajouter une offre depuis la page offre d'emploi
  frontend-implicaction/src/app/job/components/jobs-list/jobs-list.component.html
  frontend-implicaction/src/app/job/components/jobs-list/jobs-list.component.ts
Labels: jobs

#215 RI-211 : affiche les dernières offres, les derniers posts et les derniers événements en page d'accueil
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/JobPostingController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/PostController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/JobPostingRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/PostRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/JobPostingService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/PostService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/ApiUrls.java
  frontend-implicaction/src/app/app-routing.module.ts
  frontend-implicaction/src/app/config/constants.ts
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/discussion/services/post.service.ts
  frontend-implicaction/src/app/home/components/event-card/event-card.component.html
  frontend-implicaction/src/app/home/components/event-card/event-card.component.scss
  frontend-implicaction/src/app/home/components/event-card/event-card.component.spec.ts
  frontend-implicaction/src/app/home/components/event-card/event-card.component.ts
  frontend-implicaction/src/app/home/components/index/index.component.html
  frontend-implicaction/src/app/home/components/index/index.component.ts
  frontend-implicaction/src/app/home/components/job-card/job-card.component.html
  frontend-implicaction/src/app/home/components/job-card/job-card.component.scss
  frontend-implicaction/src/app/home/components/job-card/job-card.component.spec.ts
  frontend-implicaction/src/app/home/components/job-card/job-card.component.ts
  frontend-implicaction/src/app/home/components/job-list/job-list.component.html
  frontend-implicaction/src/app/home/components/job-list/job-list.component.scss
  frontend-implicaction/src/app/home/components/job-list/job-list.component.spec.ts
  frontend-implicaction/src/app/home/components/job-list/job-list.component.ts
  frontend-implicaction/src/app/home/components/post-card/post-card.component.html
  frontend-implicaction/src/app/home/components/post-card/post-card.component.scss
  frontend-implicaction/src/app/home/components/post-card/post-card.component.spec.ts
  frontend-implicaction/src/app/home/components/post-card/post-card.component.ts
  frontend-implicaction/src/app/home/components/post-list/post-list.component.html
  frontend-implicaction/src/app/home/components/post-list/post-list.component.scss
  frontend-implicaction/src/app/home/components/post-list/post-list.component.spec.ts
  frontend-implicaction/src/app/home/components/post-list/post-list.component.ts
  frontend-implicaction/src/app/home/home-routing.module.ts
  frontend-implicaction/src/app/home/home.module.ts
  frontend-implicaction/src/app/job/services/job.service.ts
  frontend-implicaction/src/app/shared/models/post.ts
  frontend-implicaction/src/app/shared/models/uris.ts
Labels: enhancement, front

#218 RI-220: [discussion] liste les groupes
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/GroupAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/GroupDto.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/GroupAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/UserControllerTest.java
  frontend-implicaction/src/app/admin/groups/pending-group-table/pending-group-table.component.html
  frontend-implicaction/src/app/admin/jobs/components/pending-job-table/pending-job-table.component.html
  frontend-implicaction/src/app/admin/users/components/pending-user-table/pending-user-table.component.html
  frontend-implicaction/src/app/discussion/components/group-card/group-card.component.html
  frontend-implicaction/src/app/discussion/components/group-card/group-card.component.scss
  frontend-implicaction/src/app/discussion/components/group-card/group-card.component.spec.ts
  frontend-implicaction/src/app/discussion/components/group-card/group-card.component.ts
  frontend-implicaction/src/app/discussion/components/group-list/group-list.component.html
  frontend-implicaction/src/app/discussion/components/group-list/group-list.component.scss
  frontend-implicaction/src/app/discussion/components/group-list/group-list.component.spec.ts
  frontend-implicaction/src/app/discussion/components/group-list/group-list.component.ts
  frontend-implicaction/src/app/discussion/components/top-group-listing/top-group-listing.component.html
  frontend-implicaction/src/app/discussion/components/top-group-listing/top-group-listing.component.ts
  frontend-implicaction/src/app/discussion/discussion-routing.module.ts
  frontend-implicaction/src/app/discussion/discussion.module.ts
  frontend-implicaction/src/app/discussion/model/group.ts
Labels: front

#219 RI-222 : corrige le problème d'affichage des offres et publications s…
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/config/SecurityConfig.java
  frontend-implicaction/src/app/home/components/event-card/event-card.component.html
  frontend-implicaction/src/app/home/components/event-card/event-card.component.scss
  frontend-implicaction/src/app/home/components/job-list/job-list.component.html
  frontend-implicaction/src/app/home/components/job-list/job-list.component.scss
  frontend-implicaction/src/app/home/components/post-card/post-card.component.html
  frontend-implicaction/src/app/home/components/post-card/post-card.component.scss
  frontend-implicaction/src/styles.scss
Labels: bug

#220 RI-48: [jobs/filter] permet de filter par secteur d'activité
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/JobPostingController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/JobPostingRepositoryCustom.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/impl/JobPostingRepositoryImpl.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/JobPostingService.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/JobsPostingControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/JobPostingServiceTest.java
  frontend-implicaction/src/app/admin/jobs/admin-jobs.component.html
  frontend-implicaction/src/app/admin/jobs/admin-jobs.component.ts
  frontend-implicaction/src/app/auth/components/login/login.component.ts
  frontend-implicaction/src/app/home/components/post-card/post-card.component.html
  frontend-implicaction/src/app/home/components/post-card/post-card.component.scss
  frontend-implicaction/src/app/job/components/jobs-list/jobs-list.component.html
  frontend-implicaction/src/app/job/components/jobs-list/jobs-list.component.scss
  frontend-implicaction/src/app/job/components/jobs-list/jobs-list.component.ts
  frontend-implicaction/src/app/job/models/job-criteria-filter.ts
  frontend-implicaction/src/app/shared/components/header/header.component.ts
  frontend-implicaction/src/app/shared/components/job-filter/job-filter.component.html
  frontend-implicaction/src/app/shared/components/job-filter/job-filter.component.ts
  frontend-implicaction/src/app/shared/shared.module.ts
  frontend-implicaction/src/styles.scss
Labels: jobs

#223 RI-225: [users/lists] redéfinit le design des cards des utilisateurs
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/UserRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/UserService.java
  frontend-implicaction/src/app/admin/companies/components/companies-table/companies-table.component.ts
  frontend-implicaction/src/app/admin/groups/pending-group-table/pending-group-table.component.ts
  frontend-implicaction/src/app/admin/jobs/components/pending-job-table/pending-job-table.component.ts
  frontend-implicaction/src/app/admin/users/components/pending-user-table/pending-user-table.component.ts
  frontend-implicaction/src/app/discussion/components/comment-list/comment-list.component.ts
  frontend-implicaction/src/app/discussion/components/group-list/group-list.component.ts
  frontend-implicaction/src/app/discussion/components/post-list/post-list.component.ts
  frontend-implicaction/src/app/home/components/job-list/job-list.component.html
  frontend-implicaction/src/app/job/components/jobs-list/jobs-list.component.html
  frontend-implicaction/src/app/job/components/jobs-list/jobs-list.component.ts
  frontend-implicaction/src/app/shared/components/base-with-pagination-and-filter/base-with-pagination-and-filter.component.spec.ts
  frontend-implicaction/src/app/shared/components/base-with-pagination-and-filter/base-with-pagination-and-filter.component.ts
  frontend-implicaction/src/app/shared/shared.module.ts
  frontend-implicaction/src/app/user/components/user-card/user-card.component.html
  frontend-implicaction/src/app/user/components/user-card/user-card.component.scss
  frontend-implicaction/src/app/user/components/user-card/user-card.component.ts
  frontend-implicaction/src/app/user/components/user-list/user-list.component.html
  frontend-implicaction/src/app/user/components/user-list/user-list.component.scss
  frontend-implicaction/src/app/user/components/user-list/user-list.component.ts
  frontend-implicaction/src/app/user/user.module.ts
  frontend-implicaction/src/assets/variables.scss
  frontend-implicaction/src/styles.scss
Labels: users

#224 RI-227: [user/profil] remplace l'ancien design par des timelines
  frontend-implicaction/src/app/config/constants.ts
  frontend-implicaction/src/app/home/components/index/index.component.html
  frontend-implicaction/src/app/user/components/experience-detail/experience-detail.component.html
  frontend-implicaction/src/app/user/components/experience-detail/experience-detail.component.scss
  frontend-implicaction/src/app/user/components/experience-detail/experience-detail.component.spec.ts
  frontend-implicaction/src/app/user/components/experience-detail/experience-detail.component.ts
  frontend-implicaction/src/app/user/components/experience-form/experience-form.component.html
  frontend-implicaction/src/app/user/components/experience-form/experience-form.component.ts
  frontend-implicaction/src/app/user/components/experience-list/experience-list.component.html
  frontend-implicaction/src/app/user/components/experience-list/experience-list.component.scss
  frontend-implicaction/src/app/user/components/experience-list/experience-list.component.ts
  frontend-implicaction/src/app/user/components/personal-card/personal-card.component.html
  frontend-implicaction/src/app/user/components/personal-card/personal-card.component.scss
  frontend-implicaction/src/app/user/components/training-detail/training-detail.component.html
  frontend-implicaction/src/app/user/components/training-detail/training-detail.component.scss
  frontend-implicaction/src/app/user/components/training-detail/training-detail.component.spec.ts
  frontend-implicaction/src/app/user/components/training-detail/training-detail.component.ts
  frontend-implicaction/src/app/user/components/training-form/training-form.component.html
  frontend-implicaction/src/app/user/components/training-form/training-form.component.ts
  frontend-implicaction/src/app/user/components/training-list/training-list.component.html
  frontend-implicaction/src/app/user/components/training-list/training-list.component.scss
  frontend-implicaction/src/app/user/components/training-list/training-list.component.ts
  frontend-implicaction/src/app/user/components/user-info/user-info.component.ts
  frontend-implicaction/src/app/user/components/user-profile/user-profile.component.html
  frontend-implicaction/src/app/user/components/user-profile/user-profile.component.ts
  frontend-implicaction/src/app/user/user.module.ts
Labels: profil

#225 RI-228: [user/profil] refactorise la sidebar du profil utilisateur
  frontend-implicaction/src/app/home/components/index/index.component.html
  frontend-implicaction/src/app/user/components/experience-list/experience-list.component.html
  frontend-implicaction/src/app/user/components/experience-list/experience-list.component.scss
  frontend-implicaction/src/app/user/components/personal-card/personal-card.component.html
  frontend-implicaction/src/app/user/components/personal-card/personal-card.component.scss
  frontend-implicaction/src/app/user/components/sidebar-profile/sidebar-profile.component.html
  frontend-implicaction/src/app/user/components/sidebar-profile/sidebar-profile.component.scss
  frontend-implicaction/src/app/user/components/sidebar-profile/sidebar-profile.component.spec.ts
  frontend-implicaction/src/app/user/components/sidebar-profile/sidebar-profile.component.ts
  frontend-implicaction/src/app/user/components/training-list/training-list.component.html
  frontend-implicaction/src/app/user/components/training-list/training-list.component.scss
  frontend-implicaction/src/app/user/components/user-card/user-card.component.html
  frontend-implicaction/src/app/user/components/user-list/user-list.component.html
  frontend-implicaction/src/app/user/components/user-profile/user-profile.component.html
  frontend-implicaction/src/app/user/components/user-profile/user-profile.component.scss
  frontend-implicaction/src/app/user/components/user-profile/user-profile.component.ts
  frontend-implicaction/src/app/user/user.module.ts
  frontend-implicaction/src/assets/base-profile-timeline.scss
Labels: users, profil
