Repository dyno-nuggets/refonte-implicaction, pull requests merged in 2021-11, with the labels that each got.

#146 refact: optimise les tests des Jobs et Company controllers
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/JobPostingService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/Message.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/CompanyControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/JobsPostingControllerTest.java
Labels: Test

#148 RI-131: Edition des offres
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/ContractTypeAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/ContractTypeDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/ContractType.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/JobPostingAdapterTest.java
  frontend-implicaction/src/app/admin/jobs/admin-jobs.module.ts
  frontend-implicaction/src/app/admin/jobs/components/job-posting-form/job-posting-form.component.html
  frontend-implicaction/src/app/admin/jobs/components/job-posting-form/job-posting-form.component.ts
  frontend-implicaction/src/app/job/job.module.ts
Labels: admin, jobs

#150 RI-144: ajoute le back pour les Subreddits
  backend-implicaction/pom.xml
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/SubredditAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/AuthController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/JobPostingController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/RelationController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/SubredditController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/RefreshTokenRequestDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/SubredditDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/Post.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/Subreddit.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/User.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/SubredditRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/AuthService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/SubredditService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/ApiUrls.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/RefonteImplicactionApplicationTests.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/SubredditAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/JobsPostingControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/SubredditControllerIntegrationTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/SubredditServiceTest.java
Labels: reddit

#151 build: regroupe les versions des dépendances maven dans les properties du projet
  backend-implicaction/pom.xml
Labels: build

#152 build: met à jour les paquets npm
  frontend-implicaction/package-lock.json
Labels: build

#153 RI-134: ajoute à l'api la création et la lecture d'un post
  backend-implicaction/pom.xml
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/PostAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/JobPostingController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/PostController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/SubredditController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/PostRequest.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/PostResponse.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/Comment.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/Vote.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/VoteType.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/CommentRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/PostRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/SubredditRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/VoteRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/AuthService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/CommentService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/PostService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/VoteService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/ApiUrls.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/DateUtils.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/Message.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/PostAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/JobsPostingControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/PostControllerIntegrationTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/SubredditControllerIntegrationTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/repository/UserRepositoryTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/CommentServiceTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/PostServiceTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/VoteServiceTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/utils/DateUtilsTest.java
  frontend-implicaction/package-lock.json
Labels: reddit

#145 RI-130: crée les tests du controller User pour les méthodes d'accès
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/UserController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/ApiUrls.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/JobsPostingControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/UserControllerTest.java
Labels: users, Test

#147 RI-64: ajout et modification d'une entreprise via sidebar
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/CompanyController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/CompanyService.java
  frontend-implicaction/src/app/admin/admin.module.ts
  frontend-implicaction/src/app/admin/companies/companies.component.html
  frontend-implicaction/src/app/admin/companies/companies.component.ts
  frontend-implicaction/src/app/admin/companies/companies.module.ts
  frontend-implicaction/src/app/admin/companies/components/companies-form/companies-form.component.html
  frontend-implicaction/src/app/admin/companies/components/companies-form/companies-form.component.scss
  frontend-implicaction/src/app/admin/companies/components/companies-form/companies-form.component.spec.ts
  frontend-implicaction/src/app/admin/companies/components/companies-form/companies-form.component.ts
  frontend-implicaction/src/app/admin/companies/components/companies-table/companies-table.component.html
  frontend-implicaction/src/app/admin/companies/components/companies-table/companies-table.component.ts
  frontend-implicaction/src/app/company/services/company.service.ts
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/shared/models/sidebar-props.ts
Labels: enhancement, admin

#154 fix: corrige le bug lié à l'appel de la méthode updateFields lors de la création d'un job
  frontend-implicaction/src/app/admin/jobs/admin-jobs.component.ts
  frontend-implicaction/src/app/admin/jobs/components/job-posting-form/job-posting-form.component.html
  frontend-implicaction/src/app/admin/jobs/components/job-posting-form/job-posting-form.component.ts
  frontend-implicaction/src/app/admin/jobs/components/table-jobs/table-jobs.component.scss
  frontend-implicaction/src/app/shared/services/sidebar.service.ts
  frontend-implicaction/src/styles.scss
Labels: admin, jobs

#156 RI-147: [reddit] ajoute la ressource qui liste les posts
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/PostController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/PostService.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/JobsPostingControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/PostControllerIntegrationTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/UserControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/PostServiceTest.java
Labels: reddit

#155 RI-146 : mise à jour du tableau de compagnie après édition d'une compagnie
  frontend-implicaction/src/app/admin/companies/components/companies-form/companies-form.component.ts
Labels: enhancement, admin

#157 RI-134: [blog] permet d'enregistrer et lire un commentaire à partir de l'api
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/CommentAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/CommentController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/JobPostingController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/PostController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/SubredditController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/CommentDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/Comment.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/CommentService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/PostService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/ApiUrls.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/Message.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/CommentAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/CommentControllerIntegrationTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/CompanyControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/ControllerIntegrationTestBase.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/JobsPostingControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/PostControllerIntegrationTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/SubredditControllerIntegrationTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/UserControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/CommentServiceTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/PostServiceTest.java
Labels: blog

#158 RI-152: [blog] permet de récupérer les commentaires d'un post à partir de l'api
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/PostController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/CommentRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/CommentService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/ApiUrls.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/PostControllerIntegrationTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/CommentServiceTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/PostServiceTest.java
Labels: blog

#159 RI-153: [blog] permet d'ajouter un vote à un post depuis l'api
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/VoteAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/AuthController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/JobPostingController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/RelationController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/VoteController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/VoteDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/Post.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/VoteService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/ApiUrls.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/Message.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/VoteAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/VoteControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/CommentServiceTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/VoteServiceTest.java
Labels: blog

#160 fix: downgrade la version de swagger pour le rendre à nouveau accessible
  backend-implicaction/pom.xml
Labels: build

#162 RI-156: [discussion] affiche tous les posts
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/PostAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/config/SecurityConfig.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/PostResponse.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/Post.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/PostAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/PostControllerIntegrationTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/PostServiceTest.java
  frontend-implicaction/src/app/app-routing.module.ts
  frontend-implicaction/src/app/blog/blog-routing.module.ts
  frontend-implicaction/src/app/blog/blog.component.html
  frontend-implicaction/src/app/blog/blog.component.scss
  frontend-implicaction/src/app/blog/blog.component.spec.ts
  frontend-implicaction/src/app/blog/blog.component.ts
  frontend-implicaction/src/app/blog/blog.module.ts
  frontend-implicaction/src/app/blog/components/post-details/post-details.component.html
  frontend-implicaction/src/app/blog/components/post-details/post-details.component.scss
  frontend-implicaction/src/app/blog/components/post-details/post-details.component.spec.ts
  frontend-implicaction/src/app/blog/components/post-details/post-details.component.ts
  frontend-implicaction/src/app/blog/components/post-list/post-list.component.html
  frontend-implicaction/src/app/blog/components/post-list/post-list.component.scss
  frontend-implicaction/src/app/blog/components/post-list/post-list.component.spec.ts
  frontend-implicaction/src/app/blog/components/post-list/post-list.component.ts
  frontend-implicaction/src/app/blog/components/votebox/votebox.component.html
  frontend-implicaction/src/app/blog/components/votebox/votebox.component.scss
  frontend-implicaction/src/app/blog/components/votebox/votebox.component.spec.ts
  frontend-implicaction/src/app/blog/components/votebox/votebox.component.ts
  frontend-implicaction/src/app/blog/model/post.ts
  frontend-implicaction/src/app/blog/services/post.service.spec.ts
  frontend-implicaction/src/app/blog/services/post.service.ts
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/shared/enums/univers.ts
  frontend-implicaction/src/app/shared/models/uris.ts
  frontend-implicaction/src/styles.scss
Labels: blog

#163 RI-157: [discussion] affiche le détail d'un post
  frontend-implicaction/src/app/app-routing.module.ts
  frontend-implicaction/src/app/blog/blog-routing.module.ts
  frontend-implicaction/src/app/config/constants.ts
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/discussion/components/post-detail/post-detail.component.html
  frontend-implicaction/src/app/discussion/components/post-detail/post-detail.component.scss
  frontend-implicaction/src/app/discussion/components/post-detail/post-detail.component.spec.ts
  frontend-implicaction/src/app/discussion/components/post-detail/post-detail.component.ts
  frontend-implicaction/src/app/discussion/components/post-list/post-list.component.html
  frontend-implicaction/src/app/discussion/components/post-list/post-list.component.scss
  frontend-implicaction/src/app/discussion/components/post-list/post-list.component.spec.ts
  frontend-implicaction/src/app/discussion/components/post-list/post-list.component.ts
  frontend-implicaction/src/app/discussion/components/post-tile/post-tile.component.html
  frontend-implicaction/src/app/discussion/components/post-tile/post-tile.component.scss
  frontend-implicaction/src/app/discussion/components/post-tile/post-tile.component.spec.ts
  frontend-implicaction/src/app/discussion/components/post-tile/post-tile.component.ts
  frontend-implicaction/src/app/discussion/components/votebox/votebox.component.html
  frontend-implicaction/src/app/discussion/components/votebox/votebox.component.scss
  frontend-implicaction/src/app/discussion/components/votebox/votebox.component.spec.ts
  frontend-implicaction/src/app/discussion/components/votebox/votebox.component.ts
  frontend-implicaction/src/app/discussion/discussion-routing.module.ts
  frontend-implicaction/src/app/discussion/discussion.component.html
  frontend-implicaction/src/app/discussion/discussion.component.scss
  frontend-implicaction/src/app/discussion/discussion.component.spec.ts
  frontend-implicaction/src/app/discussion/discussion.component.ts
  frontend-implicaction/src/app/discussion/discussion.module.ts
  frontend-implicaction/src/app/discussion/model/post.ts
  frontend-implicaction/src/app/discussion/services/post.service.spec.ts
  frontend-implicaction/src/app/discussion/services/post.service.ts
  frontend-implicaction/src/app/shared/enums/univers.ts
Labels: blog

#164 RI-158: [discussion] permet de voter pour un post
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/discussion/components/votebox/votebox.component.html
  frontend-implicaction/src/app/discussion/components/votebox/votebox.component.ts
  frontend-implicaction/src/app/discussion/model/VotePayload.ts
  frontend-implicaction/src/app/discussion/services/vote.service.spec.ts
  frontend-implicaction/src/app/discussion/services/vote.service.ts
  frontend-implicaction/src/app/shared/models/uris.ts
Labels: blog

#165 RI-159: [discussion] affiche un skeleton lors du chargement des pages
  frontend-implicaction/src/app/discussion/components/post-detail/post-detail.component.html
  frontend-implicaction/src/app/discussion/components/post-detail/post-detail.component.ts
  frontend-implicaction/src/app/discussion/components/post-list/post-list.component.html
  frontend-implicaction/src/app/discussion/components/post-skeleton/post-skeleton.component.html
  frontend-implicaction/src/app/discussion/components/post-skeleton/post-skeleton.component.scss
  frontend-implicaction/src/app/discussion/components/post-skeleton/post-skeleton.component.spec.ts
  frontend-implicaction/src/app/discussion/components/post-skeleton/post-skeleton.component.ts
  frontend-implicaction/src/app/discussion/components/post-tile/post-tile.component.html
  frontend-implicaction/src/app/discussion/components/votebox/votebox.component.ts
  frontend-implicaction/src/app/discussion/discussion.component.html
  frontend-implicaction/src/app/discussion/discussion.module.ts
  frontend-implicaction/src/app/discussion/model/vote-payload.ts
  frontend-implicaction/src/app/discussion/services/vote.service.ts
Labels: blog

#166 RI-161: [discussion] permet de créer des groupes et affiche les groupes les plus actifs
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/SubredditController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/SubredditRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/SubredditService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/ApiUrls.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/SubredditControllerIntegrationTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/repository/AbstractContainerBaseTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/repository/SubredditRepositoryTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/repository/UserRepositoryTest.java
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/discussion/components/group-form/group-form.component.html
  frontend-implicaction/src/app/discussion/components/group-form/group-form.component.scss
  frontend-implicaction/src/app/discussion/components/group-form/group-form.component.spec.ts
  frontend-implicaction/src/app/discussion/components/group-form/group-form.component.ts
  frontend-implicaction/src/app/discussion/components/option-menu/option-menu.component.html
  frontend-implicaction/src/app/discussion/components/option-menu/option-menu.component.scss
  frontend-implicaction/src/app/discussion/components/option-menu/option-menu.component.spec.ts
  frontend-implicaction/src/app/discussion/components/option-menu/option-menu.component.ts
  frontend-implicaction/src/app/discussion/components/post-tile/post-tile.component.html
  frontend-implicaction/src/app/discussion/components/top-group-listing/top-group-listing.component.html
  frontend-implicaction/src/app/discussion/components/top-group-listing/top-group-listing.component.scss
  frontend-implicaction/src/app/discussion/components/top-group-listing/top-group-listing.component.spec.ts
  frontend-implicaction/src/app/discussion/components/top-group-listing/top-group-listing.component.ts
  frontend-implicaction/src/app/discussion/components/top-group-skeleton/top-group-skeleton.component.html
  frontend-implicaction/src/app/discussion/components/top-group-skeleton/top-group-skeleton.component.scss
  frontend-implicaction/src/app/discussion/components/top-group-skeleton/top-group-skeleton.component.spec.ts
  frontend-implicaction/src/app/discussion/components/top-group-skeleton/top-group-skeleton.component.ts
  frontend-implicaction/src/app/discussion/discussion.component.html
  frontend-implicaction/src/app/discussion/discussion.module.ts
  frontend-implicaction/src/app/discussion/model/group.ts
  frontend-implicaction/src/app/discussion/services/group.service.spec.ts
  frontend-implicaction/src/app/discussion/services/group.service.ts
  frontend-implicaction/src/app/shared/models/uris.ts
Labels: blog

#169 RI-163: ajoute la possibilité d'uploader une image à la création d'un subreddit
  backend-implicaction/pom.xml
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/SubredditAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/SubredditController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/SubredditDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/FileModel.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/Subreddit.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/FileRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/CloudService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/S3CloudServiceImpl.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/SubredditService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/ApiUrls.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/Message.java
  backend-implicaction/src/main/resources/application-local.yml
  backend-implicaction/src/main/resources/application.yml
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/PostAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/SubredditAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/SubredditControllerIntegrationTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/CommentServiceTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/PostServiceTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/S3CloudServiceImplTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/SubredditServiceTest.java
  backend-implicaction/src/test/resources/application-test.yml
  docker-compose.yml
  frontend-implicaction/src/app/discussion/components/group-form/group-form.component.html
  frontend-implicaction/src/app/discussion/components/group-form/group-form.component.ts
  frontend-implicaction/src/app/discussion/components/top-group-listing/top-group-listing.component.html
  frontend-implicaction/src/app/discussion/components/top-group-skeleton/top-group-skeleton.component.html
  frontend-implicaction/src/app/discussion/model/group.ts
  frontend-implicaction/src/app/discussion/services/group.service.ts
  frontend-implicaction/src/assets/img/default-group.png
Labels: technical, blog

#161 RI-148 : ajoute un menu pour le listing des compagnies
  frontend-implicaction/src/app/admin/companies/companies.component.html
  frontend-implicaction/src/app/admin/companies/companies.component.ts
  frontend-implicaction/src/app/admin/companies/companies.module.ts
  frontend-implicaction/src/app/admin/companies/components/companies-table/companies-table.component.html
  frontend-implicaction/src/app/admin/companies/components/companies-table/companies-table.component.scss
  frontend-implicaction/src/app/admin/companies/components/companies-table/companies-table.component.ts
Labels: admin

#170 RI-160: permet la lecture des commentaires d'un post
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/CommentAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/CommentDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/CommentRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/CommentService.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/CommentAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/CommentControllerIntegrationTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/CommentServiceTest.java
  frontend-implicaction/src/app/config/constants.ts
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/discussion/components/comment-list/comment-list.component.html
  frontend-implicaction/src/app/discussion/components/comment-list/comment-list.component.scss
  frontend-implicaction/src/app/discussion/components/comment-list/comment-list.component.spec.ts
  frontend-implicaction/src/app/discussion/components/comment-list/comment-list.component.ts
  frontend-implicaction/src/app/discussion/components/comment-tile/comment-tile.component.html
  frontend-implicaction/src/app/discussion/components/comment-tile/comment-tile.component.scss
  frontend-implicaction/src/app/discussion/components/comment-tile/comment-tile.component.spec.ts
  frontend-implicaction/src/app/discussion/components/comment-tile/comment-tile.component.ts
  frontend-implicaction/src/app/discussion/components/post-detail/post-detail.component.html
  frontend-implicaction/src/app/discussion/components/post-tile/post-tile.component.html
  frontend-implicaction/src/app/discussion/discussion.module.ts
  frontend-implicaction/src/app/discussion/model/comment-payload.ts
  frontend-implicaction/src/app/discussion/model/comment.ts
  frontend-implicaction/src/app/discussion/services/post.service.ts
  frontend-implicaction/src/app/shared/components/base-with-pagination-component/base-with-pagination.component.spec.ts
  frontend-implicaction/src/app/shared/components/base-with-pagination-component/base-with-pagination.component.ts
  frontend-implicaction/src/app/shared/components/header/header.component.html
  frontend-implicaction/src/app/shared/components/header/header.component.ts
  frontend-implicaction/src/app/shared/models/user.ts
  frontend-implicaction/src/app/shared/shared.module.ts
Labels: blog

#172 RI-165: [discussion] réorganise le module discussion
  frontend-implicaction/src/app/discussion/components/post-detail/post-detail.component.html
  frontend-implicaction/src/app/discussion/components/post-list/post-list.component.html
  frontend-implicaction/src/app/discussion/components/post-list/post-list.component.ts
  frontend-implicaction/src/app/discussion/discussion-routing.module.ts
  frontend-implicaction/src/app/discussion/discussion.component.html
  frontend-implicaction/src/app/discussion/discussion.component.ts
Labels: blog

#174 RI-166: [discussion] ajoute la possibilité de commenter un post
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/discussion/components/comment-list/comment-list.component.html
  frontend-implicaction/src/app/discussion/components/comment-list/comment-list.component.ts
  frontend-implicaction/src/app/discussion/components/post-detail/post-detail.component.html
  frontend-implicaction/src/app/discussion/components/post-detail/post-detail.component.ts
  frontend-implicaction/src/app/discussion/components/post-list/post-list.component.html
  frontend-implicaction/src/app/discussion/components/post-tile/post-tile.component.html
  frontend-implicaction/src/app/discussion/components/post-tile/post-tile.component.ts
  frontend-implicaction/src/app/discussion/discussion.component.html
  frontend-implicaction/src/app/discussion/model/comment-payload.ts
  frontend-implicaction/src/app/discussion/services/comment.service.spec.ts
  frontend-implicaction/src/app/discussion/services/comment.service.ts
  frontend-implicaction/src/app/shared/components/base-with-pagination-component/base-with-pagination.component.ts
  frontend-implicaction/src/app/shared/models/uris.ts
Labels: blog

#175 RI-167: [discussion] améliore les templates de loading
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/Comment.java
  frontend-implicaction/src/app/discussion/components/comment-list/comment-list.component.html
  frontend-implicaction/src/app/discussion/components/comment-list/comment-list.component.ts
  frontend-implicaction/src/app/discussion/components/comment-skeleton/comment-skeleton.component.html
  frontend-implicaction/src/app/discussion/components/comment-skeleton/comment-skeleton.component.scss
  frontend-implicaction/src/app/discussion/components/comment-skeleton/comment-skeleton.component.spec.ts
  frontend-implicaction/src/app/discussion/components/comment-skeleton/comment-skeleton.component.ts
  frontend-implicaction/src/app/discussion/components/comment-tile/comment-tile.component.html
  frontend-implicaction/src/app/discussion/components/post-detail/post-detail.component.html
  frontend-implicaction/src/app/discussion/components/post-detail/post-detail.component.scss
  frontend-implicaction/src/app/discussion/components/post-skeleton/post-skeleton.component.html
  frontend-implicaction/src/app/discussion/components/post-skeleton/post-skeleton.component.ts
  frontend-implicaction/src/app/discussion/discussion.module.ts
Labels: blog

#171 RI-145: teste les méthodes restantes pour User controller
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/UserController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/UserService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/ApiUrls.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/UserControllerTest.java
Labels: Test

#176 RI-162: [discussion] permet de créer une discussion + misc
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/PostAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/PostRequest.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/PostResponse.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/handler/GlobalExceptionHandler.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/PostService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/Message.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/PostAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/PostControllerIntegrationTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/PostServiceTest.java
  frontend-implicaction/src/app/config/constants.ts
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/discussion/components/create-group-form/create-group-form.component.html
  frontend-implicaction/src/app/discussion/components/create-group-form/create-group-form.component.scss
  frontend-implicaction/src/app/discussion/components/create-group-form/create-group-form.component.spec.ts
  frontend-implicaction/src/app/discussion/components/create-group-form/create-group-form.component.ts
  frontend-implicaction/src/app/discussion/components/create-post-form/create-post-form.component.html
  frontend-implicaction/src/app/discussion/components/create-post-form/create-post-form.component.scss
  frontend-implicaction/src/app/discussion/components/create-post-form/create-post-form.component.spec.ts
  frontend-implicaction/src/app/discussion/components/create-post-form/create-post-form.component.ts
  frontend-implicaction/src/app/discussion/components/option-menu/option-menu.component.html
  frontend-implicaction/src/app/discussion/components/option-menu/option-menu.component.ts
  frontend-implicaction/src/app/discussion/components/top-group-listing/top-group-listing.component.ts
  frontend-implicaction/src/app/discussion/discussion.module.ts
  frontend-implicaction/src/app/discussion/model/group.ts
  frontend-implicaction/src/app/discussion/model/post-payload.ts
  frontend-implicaction/src/app/discussion/services/group.service.ts
  frontend-implicaction/src/app/discussion/services/post.service.ts
  frontend-implicaction/src/styles.scss
Labels: blog

#178 fix: [admin/jobs] corrige un bug de la sidebar
  frontend-implicaction/src/app/admin/jobs/components/job-posting-form/job-posting-form.component.ts
Labels: admin, jobs, fix

#179 RI-177: [profil] permet à l'utilisateur de modifier sa photo de profil
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/PostAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/UserAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/UserController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/PostResponse.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/UserDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/Post.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/User.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/UserService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/ApiUrls.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/Message.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/PostAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/PostControllerIntegrationTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/UserControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/PostServiceTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/UserServiceTest.java
  docker-compose.yml
  frontend-implicaction/src/app/config/constants.ts
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/discussion/components/comment-list/comment-list.component.html
  frontend-implicaction/src/app/discussion/components/comment-tile/comment-tile.component.html
  frontend-implicaction/src/app/discussion/components/create-group-form/create-group-form.component.ts
  frontend-implicaction/src/app/discussion/components/post-tile/post-tile.component.html
  frontend-implicaction/src/app/discussion/components/post-tile/post-tile.component.ts
  frontend-implicaction/src/app/discussion/discussion.component.html
  frontend-implicaction/src/app/discussion/model/post.ts
  frontend-implicaction/src/app/shared/components/header/header.component.html
  frontend-implicaction/src/app/shared/components/header/header.component.ts
  frontend-implicaction/src/app/shared/models/uris.ts
  frontend-implicaction/src/app/shared/services/auth.service.ts
  frontend-implicaction/src/app/shared/shared.module.ts
  frontend-implicaction/src/app/user/components/personal-card/personal-card.component.html
  frontend-implicaction/src/app/user/components/personal-card/personal-card.component.scss
  frontend-implicaction/src/app/user/components/personal-card/personal-card.component.ts
  frontend-implicaction/src/app/user/components/user-card/user-card.component.ts
  frontend-implicaction/src/app/user/services/user.service.ts
Labels: profil

#167 RI-136: archive une offre
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/JobPostingAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/JobPostingController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/JobPostingDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/JobPosting.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/JobPostingService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/ApiUrls.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/JobPostingAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/JobsPostingControllerTest.java
  data.sql
  frontend-implicaction/src/app/admin/jobs/components/jobs-table/jobs-table.component.html
Labels: jobs, back

#183 RI-172: met en place la passerelle de téléchargement des fichiers depuis s3
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/PostAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/SubredditAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/UserAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/FileController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/UserController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/handler/GlobalExceptionHandler.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/FileModel.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/FileRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/CloudService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/FileService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/UserService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/impl/S3CloudServiceImpl.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/ApiUrls.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/Message.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/PostAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/RelationAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/SubredditAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/TrainingAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/UserAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/WorkExperienceAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/CompanyControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/FileControllerIntegrationTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/UserControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/FileServiceTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/S3CloudServiceImplTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/SubredditServiceTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/UserServiceTest.java
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/user/components/personal-card/personal-card.component.ts
  frontend-implicaction/src/app/user/services/user.service.ts
Labels: technical

#173 RI-150 : fusionne les méthodes create et update du CompanyController
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/CompanyController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/ApiUrls.java
Labels: back, companies

#185 RI-172: [discussion] fix les liens vers les images des groupes
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/SubredditAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/UserAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/CompanyController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/FileService.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/SubredditAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/UserAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/FileServiceTest.java
  frontend-implicaction/src/app/config/constants.ts
  frontend-implicaction/src/app/discussion/components/comment-list/comment-list.component.ts
  frontend-implicaction/src/app/discussion/components/comment-tile/comment-tile.component.html
  frontend-implicaction/src/app/discussion/components/create-group-form/create-group-form.component.html
  frontend-implicaction/src/app/discussion/components/create-group-form/create-group-form.component.ts
  frontend-implicaction/src/app/discussion/components/create-post-form/create-post-form.component.html
  frontend-implicaction/src/app/discussion/components/post-tile/post-tile.component.html
  frontend-implicaction/src/app/discussion/components/top-group-listing/top-group-listing.component.html
  frontend-implicaction/src/app/discussion/components/top-group-listing/top-group-listing.component.ts
  frontend-implicaction/src/app/shared/components/header/header.component.html
  frontend-implicaction/src/app/user/components/personal-card/personal-card.component.html
  frontend-implicaction/src/app/user/components/user-card/user-card.component.html
  frontend-implicaction/src/assets/img/avatar-ia-group.png
  frontend-implicaction/src/assets/img/avatar-ia-user.png
  frontend-implicaction/src/assets/img/default-group.png
Labels: bug, blog

#186 RI-155: [admin/company] recharge le tableau lors de la création d'une nouvelle entreprise
  frontend-implicaction/src/app/admin/companies/components/companies-form/companies-form.component.ts
  frontend-implicaction/src/app/admin/companies/components/companies-table/companies-table.component.html
  frontend-implicaction/src/app/admin/companies/components/companies-table/companies-table.component.ts
  frontend-implicaction/src/app/admin/jobs/components/jobs-table/jobs-table.component.ts
  frontend-implicaction/src/app/discussion/components/comment-list/comment-list.component.ts
  frontend-implicaction/src/app/discussion/components/post-list/post-list.component.ts
  frontend-implicaction/src/app/job/components/jobs-list/jobs-list.component.ts
  frontend-implicaction/src/app/shared/components/base-with-pagination/base-with-pagination.component.spec.ts
  frontend-implicaction/src/app/shared/components/base-with-pagination/base-with-pagination.component.ts
  frontend-implicaction/src/app/shared/components/job-filter/job-filter.component.ts
  frontend-implicaction/src/app/shared/services/base-context-service.service.spec.ts
  frontend-implicaction/src/app/shared/services/base-context-service.service.ts
  frontend-implicaction/src/app/shared/services/company-context-service.service.spec.ts
  frontend-implicaction/src/app/shared/services/company-context-service.service.ts
  frontend-implicaction/src/app/shared/shared.module.ts
Labels: admin, companies

#187 RI-187: [jobs/detail] empêche les utilisateurs non premium à accéder au détail d'un job
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/RoleEnum.java
  frontend-implicaction/src/app/job/job-routing.module.ts
  frontend-implicaction/src/app/shared/enums/role.enum.ts
Labels: jobs

#188 RI-50: [job-board] ajoute le module board
  frontend-implicaction/src/app/app-routing.module.ts
  frontend-implicaction/src/app/board/board.component.html
  frontend-implicaction/src/app/board/board.component.scss
  frontend-implicaction/src/app/board/board.component.spec.ts
  frontend-implicaction/src/app/board/board.component.ts
  frontend-implicaction/src/app/board/board.module.ts
  frontend-implicaction/src/app/shared/enums/univers.ts
Labels: job-board

#189 RI-188: [job-board] défini le design du board et des cards
  frontend-implicaction/src/app/app.module.ts
  frontend-implicaction/src/app/board/board.component.html
  frontend-implicaction/src/app/board/board.component.scss
  frontend-implicaction/src/app/board/board.component.ts
  frontend-implicaction/src/app/board/board.module.ts
  frontend-implicaction/src/app/board/components/apply-card/apply-card.component.html
  frontend-implicaction/src/app/board/components/apply-card/apply-card.component.scss
  frontend-implicaction/src/app/board/components/apply-card/apply-card.component.spec.ts
  frontend-implicaction/src/app/board/components/apply-card/apply-card.component.ts
  frontend-implicaction/src/app/board/enums/apply-status-enum.ts
  frontend-implicaction/src/app/board/models/job-apply.ts
  frontend-implicaction/src/app/config/constants.ts
  frontend-implicaction/src/app/job/components/job-details/job-details.component.html
  frontend-implicaction/src/app/job/components/job-details/job-details.component.ts
  frontend-implicaction/src/app/job/models/contract-type-enum.ts
  frontend-implicaction/src/app/job/models/job-criteria-filter.ts
  frontend-implicaction/src/app/shared/components/job-filter/job-filter.component.ts
  frontend-implicaction/src/app/shared/enums/univers.ts
  frontend-implicaction/src/app/shared/models/contractType.ts
  frontend-implicaction/src/styles.scss
Labels: job-board

#190 RI-190: [job-board] permet de déplacer une offre en drag & drop
  frontend-implicaction/src/app/board/board.component.html
  frontend-implicaction/src/app/board/board.component.scss
  frontend-implicaction/src/app/board/board.component.ts
  frontend-implicaction/src/app/board/board.module.ts
  frontend-implicaction/src/app/board/models/job-apply.ts
Labels: job-board

#192 RI-37: [job-boad] permet la création de job applies
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/ApplicationStatusAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/JobApplicationAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/StatusAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/JobApplicationController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/ApplicationRequest.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/FakeDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/JobApplicationDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/ApplyStatusEnum.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/JobApplication.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/Status.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/JobApplicationRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/StatusRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/JobApplicationService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/ApiUrls.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/Message.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/JobApplicationAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/StatusAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/JobApplicationControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/JobApplicationServiceTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/PostServiceTest.java
Labels: job-board

#193 refact: remplace l'utilisation du modèle ContractType par une enum
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/ContractTypeAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/JobApplicationAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/JobPostingAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/ContractTypeDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/JobApplicationDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/JobPostingDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/ContractType.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/ContractTypeEnum.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/JobPosting.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/ContractRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/impl/JobPostingRepositoryImpl.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/ContractTypeAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/JobApplicationAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/JobPostingAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/JobApplicationControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/JobApplicationServiceTest.java
  data.sql
  frontend-implicaction/src/app/admin/jobs/components/job-posting-form/job-posting-form.component.html
  frontend-implicaction/src/app/admin/jobs/components/job-posting-form/job-posting-form.component.ts
  frontend-implicaction/src/app/job/components/job-card/job-card.component.html
  frontend-implicaction/src/app/job/components/job-details/job-details.component.html
  frontend-implicaction/src/app/shared/enums/contract.enum.ts
  frontend-implicaction/src/app/shared/models/job-posting.ts
Labels: technical

#194 RI-191: [marketplace] ajoute une apply en base lors du click sur le bouton ajouter au jobBoard
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/JobApplicationController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/JobApplicationRequest.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/JobApplicationRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/JobApplicationService.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/JobApplicationControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/JobsPostingControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/JobApplicationServiceTest.java
  data.sql
  frontend-implicaction/src/app/board/board.component.ts
  frontend-implicaction/src/app/board/components/apply-card/apply-card.component.ts
  frontend-implicaction/src/app/board/enums/apply-status-enum.ts
  frontend-implicaction/src/app/board/models/job-application-request.ts
  frontend-implicaction/src/app/board/models/job-application.ts
  frontend-implicaction/src/app/board/services/job-board.service.spec.ts
  frontend-implicaction/src/app/board/services/job-board.service.ts
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/job/components/job-card/job-card.component.html
  frontend-implicaction/src/app/job/components/job-card/job-card.component.ts
  frontend-implicaction/src/app/shared/models/uris.ts
Labels: job-board

#168 RI-112: [admin/companies] ajoute un composant de filtre au tableau des compagnies
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/CompanyController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/CompanyRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/CompanyRepositoryCustom.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/impl/CompanyRepositoryImpl.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/CompanyService.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/CompanyControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/repository/AbstractContainerBaseTest.java
  frontend-implicaction/src/app/admin/admin-routing.module.ts
  frontend-implicaction/src/app/admin/companies/components/companies-table/companies-table.component.html
  frontend-implicaction/src/app/admin/companies/components/companies-table/companies-table.component.ts
  frontend-implicaction/src/app/admin/jobs/components/job-posting-form/job-posting-form.component.ts
  frontend-implicaction/src/app/admin/jobs/components/jobs-table/jobs-table.component.ts
  frontend-implicaction/src/app/company/enums/company-sort.enum.ts
  frontend-implicaction/src/app/company/services/company-filter-context.service.ts
  frontend-implicaction/src/app/company/services/company.service.ts
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/discussion/components/comment-list/comment-list.component.ts
  frontend-implicaction/src/app/discussion/components/post-list/post-list.component.ts
  frontend-implicaction/src/app/job/components/jobs-list/jobs-list.component.ts
  frontend-implicaction/src/app/job/models/job-criteria-filter.ts
  frontend-implicaction/src/app/job/services/company.service.spec.ts
  frontend-implicaction/src/app/job/services/company.service.ts
  frontend-implicaction/src/app/shared/components/base-with-pagination/base-with-pagination.component.ts
  frontend-implicaction/src/app/shared/components/company-filter/company-filter.component.html
  frontend-implicaction/src/app/shared/components/company-filter/company-filter.component.scss
  frontend-implicaction/src/app/shared/components/company-filter/company-filter.component.spec.ts
  frontend-implicaction/src/app/shared/components/company-filter/company-filter.component.ts
  frontend-implicaction/src/app/shared/components/job-filter/job-filter.component.ts
  frontend-implicaction/src/app/shared/models/Criteria.ts
  frontend-implicaction/src/app/shared/services/filter-context.service.ts
  frontend-implicaction/src/app/shared/shared.module.ts
Labels: admin, companies

#184 RI-139: [admin/job] permet l'archivage de plusieurs offres
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/JobPostingAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/JobPostingController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/JobPostingService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/ApiUrls.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/JobsPostingControllerTest.java
  data.sql
Labels: admin, jobs

#195 RI-164: teste les méthodes du training controller et du experience controller
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/ExperienceController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/TrainingController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/ApiUrls.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/ExperienceControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/TrainingControllerTest.java
Labels: Test

#196 RI-44: [job-board] permet l'ajout d'un job au job-board
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/JobApplicationAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/JobPostingController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/JobApplicationDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/JobApplicationRequest.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/JobPostingDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/ApplyStatusEnum.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/JobApplicationRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/JobApplicationService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/JobPostingService.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/adapter/JobApplicationAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/JobApplicationControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/JobsPostingControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/JobApplicationServiceTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/JobPostingServiceTest.java
  frontend-implicaction/src/app/board/board.component.ts
  frontend-implicaction/src/app/board/components/apply-card/apply-card.component.html
  frontend-implicaction/src/app/board/components/apply-card/apply-card.component.scss
  frontend-implicaction/src/app/board/models/job-application.ts
  frontend-implicaction/src/app/board/services/job-board.service.ts
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/job/components/job-card/job-card.component.html
  frontend-implicaction/src/app/job/components/job-card/job-card.component.ts
  frontend-implicaction/src/app/job/components/job-details/job-details.component.html
  frontend-implicaction/src/app/job/components/job-details/job-details.component.ts
  frontend-implicaction/src/app/job/components/jobs-list/jobs-list.component.ts
  frontend-implicaction/src/app/job/services/job.service.ts
  frontend-implicaction/src/app/shared/enums/univers.ts
  frontend-implicaction/src/app/shared/models/job-posting.ts
Labels: job-board

#197 RI-47: [job-board] change le statut d'une candidature lorsque la card est déplacée sur le job-board
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/JobApplicationAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/JobApplicationController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/JobApplicationDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/repository/JobApplicationRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/JobApplicationService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/JobPostingService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/utils/Message.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/JobApplicationControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/JobApplicationServiceTest.java
  frontend-implicaction/src/app/board/board.component.ts
  frontend-implicaction/src/app/board/models/job-application-request.ts
  frontend-implicaction/src/app/board/services/job-board.service.ts
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/job/components/jobs-list/jobs-list.component.ts
Labels: job-board

#198 RI-195: [job-board] ajoute un menu d'actions aux cards
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/JobApplicationService.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/JobApplicationServiceTest.java
  frontend-implicaction/src/app/board/board.component.html
  frontend-implicaction/src/app/board/board.module.ts
  frontend-implicaction/src/app/board/components/apply-card/apply-card.component.html
  frontend-implicaction/src/app/board/components/card-menu/card-menu.component.html
  frontend-implicaction/src/app/board/components/card-menu/card-menu.component.scss
  frontend-implicaction/src/app/board/components/card-menu/card-menu.component.spec.ts
  frontend-implicaction/src/app/board/components/card-menu/card-menu.component.ts
Labels: job-board

#180 RI-137: [admin/jobs] permet la sélection de plusieurs offres
  frontend-implicaction/src/app/admin/jobs/admin-jobs.module.ts
  frontend-implicaction/src/app/admin/jobs/components/jobs-table/jobs-table.component.html
  frontend-implicaction/src/app/admin/jobs/components/jobs-table/jobs-table.component.ts
Labels: admin, jobs

#182 RI-171: [admin/users] permet la selection de plusieurs utilisateurs
  frontend-implicaction/src/app/admin/users/components/users-table/table-users.component.html
  frontend-implicaction/src/app/admin/users/components/users-table/table-users.component.ts
Labels: admin, users

#199 RI-45: [job-board] permet d'utiliser le menu des cards pour modifier le statut d'une candidature en accepté, refusé et/ou de l'archiver
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/adapter/JobApplicationAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/JobApplicationDto.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/dto/JobApplicationRequest.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/JobApplicationService.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/JobApplicationControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/JobApplicationServiceTest.java
  frontend-implicaction/src/app/board/board.component.ts
  frontend-implicaction/src/app/board/components/card-menu/card-menu.component.ts
  frontend-implicaction/src/app/board/enums/apply-status-enum.ts
  frontend-implicaction/src/app/board/models/job-application-request.ts
  frontend-implicaction/src/app/board/models/job-application.ts
  frontend-implicaction/src/app/board/services/board-context.service.spec.ts
  frontend-implicaction/src/app/board/services/board-context.service.ts
  frontend-implicaction/src/app/board/services/job-application.service.spec.ts
  frontend-implicaction/src/app/board/services/job-application.service.ts
  frontend-implicaction/src/app/job/components/job-card/job-card.component.ts
  frontend-implicaction/src/app/job/components/job-details/job-details.component.ts
  frontend-implicaction/src/app/shared/components/header/header.component.html
  frontend-implicaction/src/app/shared/components/header/header.component.ts
Labels: job-board

#200 RI-38: [job-board] permet la suppression d'une candidature
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/controller/JobApplicationController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/JobApplicationService.java
  backend-implicaction/src/main/resources/banner.txt
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/JobApplicationControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/service/JobApplicationServiceTest.java
  frontend-implicaction/src/app/board/board.component.html
  frontend-implicaction/src/app/board/board.component.ts
  frontend-implicaction/src/app/board/board.module.ts
  frontend-implicaction/src/app/board/components/card-menu/card-menu.component.scss
  frontend-implicaction/src/app/board/components/card-menu/card-menu.component.ts
  frontend-implicaction/src/app/board/enums/apply-status-enum.ts
  frontend-implicaction/src/app/board/services/job-application.service.ts
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
Labels: job-board

#181 RI-138: [admin/companies] permet la sélection de plusieurs entreprises
  frontend-implicaction/src/app/admin/companies/components/companies-table/companies-table.component.html
  frontend-implicaction/src/app/admin/companies/components/companies-table/companies-table.component.ts
Labels: admin, companies

#204 RI-193: teste les fonctions du CompanyController
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/controller/CompanyControllerTest.java
Labels: Test

#191 RI-41: [admin/job] permet d'archiver une offre depuis le listing des offres
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/model/JobPosting.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/service/JobPostingService.java
  frontend-implicaction/src/app/admin/jobs/components/jobs-table/jobs-table.component.html
  frontend-implicaction/src/app/admin/jobs/components/jobs-table/jobs-table.component.ts
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/job/services/job.service.ts
  frontend-implicaction/src/app/shared/enums/status.enum.ts
Labels: admin, jobs

#205 RI-154 : modifie la structure et le design de l'édition des utilisateurs
  frontend-implicaction/src/app/admin/users/components/users-table/table-users.component.html
  frontend-implicaction/src/app/admin/users/components/users-table/table-users.component.ts
  frontend-implicaction/src/app/admin/users/users.module.ts
Labels: admin
