Repository dyno-nuggets/refonte-implicaction, pull requests merged in 2023-05, with the labels that each got.

#307 refact: [community/profiles] modifie la gestion de l'affichage des relations
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/community/profile/controller/ProfileController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/community/profile/domain/model/ProfileModel.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/community/profile/domain/repository/ProfileRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/community/profile/domain/repository/ProfileRepositoryCustom.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/community/profile/domain/repository/impl/ProfileRepositoryCustomImpl.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/community/profile/dto/enums/RelationCriteriaEnum.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/community/profile/service/ProfileService.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/community/profile/controller/ProfileControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/community/profile/service/ProfileServiceTest.java
  frontend-implicaction/src/app/community/components/relation-button/relation-button.component.html
  frontend-implicaction/src/app/community/components/relation-button/relation-button.component.ts
  frontend-implicaction/src/app/community/models/enums/relation-action.ts
  frontend-implicaction/src/app/community/models/enums/relation-criteria-enum.ts
  frontend-implicaction/src/app/community/models/relation-button.ts
  frontend-implicaction/src/app/community/pages/profile-list-page/profile-list-page.component.ts
  frontend-implicaction/src/app/community/services/profile/profile.service.ts
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
Labels: community, back, front

#309 feat: [admin/dashboard] ajoute les cards qui décompte les jobs et les utilisateurs
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/core/controller/UserController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/core/domain/repository/UserRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/core/service/UserService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/core/utils/UserUris.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/job/jobposting/controller/JobPostingController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/job/jobposting/domain/repository/JobPostingRepository.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/job/jobposting/service/JobPostingService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/job/jobposting/utils/JobPostingUris.java
  frontend-implicaction/src/app/admin/admin.module.ts
  frontend-implicaction/src/app/admin/components/counter-card/counter-card.component.html
  frontend-implicaction/src/app/admin/components/counter-card/counter-card.component.scss
  frontend-implicaction/src/app/admin/components/counter-card/counter-card.component.ts
  frontend-implicaction/src/app/admin/fragments/dashboard-fragment/dashboard-fragment.component.html
  frontend-implicaction/src/app/admin/widgets/admin-overview-widget/admin-overview-widget.component.html
  frontend-implicaction/src/app/admin/widgets/admin-overview-widget/admin-overview-widget.component.scss
  frontend-implicaction/src/app/admin/widgets/admin-overview-widget/admin-overview-widget.component.ts
  frontend-implicaction/src/app/admin/widgets/job-counter-widget/job-counter-widget.component.html
  frontend-implicaction/src/app/admin/widgets/job-counter-widget/job-counter-widget.component.ts
  frontend-implicaction/src/app/admin/widgets/user-counter-widget/user-counter-widget.component.html
  frontend-implicaction/src/app/admin/widgets/user-counter-widget/user-counter-widget.component.ts
  frontend-implicaction/src/app/community/components/relation-button/relation-button.component.ts
  frontend-implicaction/src/app/community/models/enums/profile-menu-enum.ts
  frontend-implicaction/src/app/community/pages/profile-list-page/profile-list-page.component.ts
  frontend-implicaction/src/app/community/services/profile/user.service.ts
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/job/services/job.service.ts
  frontend-implicaction/src/app/shared/models/uris.ts
Labels: admin

#311 fix: [footer/contact] corrige l'adresse mail de contact et supprime le telephone
  frontend-implicaction/src/app/footer/components/contact/contact.component.html
Labels: fix, front
