Repository dyno-nuggets/refonte-implicaction, pull requests merged in 2023-04, with the labels that each got.

#290 feat: [profile] permet aux onglets de s'ouvrir en fonction des queryParams
  frontend-implicaction/src/app/admin/groups/pending-group-table/pending-group-table.component.ts
  frontend-implicaction/src/app/app-routing.module.ts
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/home/components/cards/events/latest-event-card-skeleton/latest-event-card-skeleton.component.html
  frontend-implicaction/src/app/home/components/cards/events/latest-event-card-skeleton/latest-event-card-skeleton.component.scss
  frontend-implicaction/src/app/home/components/cards/events/latest-event-card-skeleton/latest-event-card-skeleton.component.ts
  frontend-implicaction/src/app/home/components/cards/events/latest-event-card/latest-event-card.component.html
  frontend-implicaction/src/app/home/components/cards/events/latest-event-card/latest-event-card.component.scss
  frontend-implicaction/src/app/home/components/cards/events/latest-event-card/latest-event-card.component.ts
  frontend-implicaction/src/app/home/components/cards/jobs/latest-job-card/latest-job-card.component.html
  frontend-implicaction/src/app/home/components/cards/jobs/latest-job-card/latest-job-card.component.scss
  frontend-implicaction/src/app/home/components/cards/jobs/latest-job-card/latest-job-card.component.ts
  frontend-implicaction/src/app/home/components/cards/jobs/latest-job-cart-skeleton/latest-job-cart-skeleton.component.html
  frontend-implicaction/src/app/home/components/cards/jobs/latest-job-cart-skeleton/latest-job-cart-skeleton.component.scss
  frontend-implicaction/src/app/home/components/cards/jobs/latest-job-cart-skeleton/latest-job-cart-skeleton.component.ts
  frontend-implicaction/src/app/home/components/cards/topics/latest-post-card-skeleton/latest-post-card-skeleton.component.html
  frontend-implicaction/src/app/home/components/cards/topics/latest-post-card-skeleton/latest-post-card-skeleton.component.scss
  frontend-implicaction/src/app/home/components/cards/topics/latest-post-card-skeleton/latest-post-card-skeleton.component.ts
  frontend-implicaction/src/app/home/components/cards/topics/latest-post-card/latest-post-card.component.html
  frontend-implicaction/src/app/home/components/cards/topics/latest-post-card/latest-post-card.component.scss
  frontend-implicaction/src/app/home/components/cards/topics/latest-post-card/latest-post-card.component.ts
  frontend-implicaction/src/app/home/home.module.ts
  frontend-implicaction/src/app/profile/components/tabs/edit-profile-tab/edit-profile-tab.component.html
  frontend-implicaction/src/app/profile/components/tabs/edit-profile-tab/edit-profile-tab.component.ts
  frontend-implicaction/src/app/profile/components/tabs/profile-overview/profile-block/profile-block.component.html
  frontend-implicaction/src/app/profile/components/tabs/profile-overview/profile-details-section/profile-details-section.component.html
  frontend-implicaction/src/app/profile/components/tabs/profile-overview/profile-work-experiences-section/profile-work-experiences-section.component.html
  frontend-implicaction/src/app/profile/models/enums/profile-tab-enum.ts
  frontend-implicaction/src/app/profile/pages/user-profile-page/user-profile-page.component.html
  frontend-implicaction/src/app/profile/pages/user-profile-page/user-profile-page.component.ts
  frontend-implicaction/src/app/profile/services/user.service.ts
  frontend-implicaction/src/app/shared/components/user-avatar/user-avatar.component.scss
  frontend-implicaction/src/app/shared/components/user-avatar/user-avatar.component.ts
  frontend-implicaction/src/app/user/components/user-card/user-card.component.html
  frontend-implicaction/src/app/user/components/user-card/user-card.component.scss
  frontend-implicaction/src/app/user/components/user-card/user-card.component.ts
  frontend-implicaction/src/app/user/models/group.ts
  frontend-implicaction/src/app/user/models/relation-type.enum.ts
  frontend-implicaction/src/app/user/models/relation.ts
  frontend-implicaction/src/app/user/pages/relation-list/relation-list.component.html
  frontend-implicaction/src/app/user/pages/relation-list/relation-list.component.scss
  frontend-implicaction/src/app/user/pages/relation-list/relation-list.component.ts
  frontend-implicaction/src/app/user/services/group.service.ts
  frontend-implicaction/src/app/user/services/relation.service.ts
  frontend-implicaction/src/app/user/user-routing.module.ts
  frontend-implicaction/src/app/user/user.module.ts
  frontend-implicaction/src/assets/ui.scss
Labels: profil, front

#296 fix: corrige une erreur de refresh token
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/auth/service/AuthService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/auth/service/JwtProvider.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/auth/service/AuthServiceTest.java
  frontend-implicaction/src/app/core/guards/auth.guard.service.ts
  frontend-implicaction/src/app/core/services/auth.service.ts
Labels: auth

#297 RI-257: [profile] permet d'uploader une photo de profil
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/community/group/service/GroupService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/community/profile/adapter/ProfileAdapter.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/community/profile/controller/ProfileController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/community/profile/domain/model/ProfileModel.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/community/profile/error/ProfileErrorResult.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/community/profile/service/ProfileService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/community/profile/utils/ProfileUris.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/core/utils/Message.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/filemanagement/controller/PublicFileController.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/filemanagement/error/FileErrorResult.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/filemanagement/error/FileException.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/filemanagement/service/CloudService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/filemanagement/service/FileService.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/filemanagement/service/impl/S3CloudServiceImpl.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/filemanagement/utils/FileMessages.java
  backend-implicaction/src/main/java/com/dynonuggets/refonteimplicaction/filemanagement/utils/FileUris.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/community/group/service/GroupServiceTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/community/profile/adapter/ProfileAdapterTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/community/profile/controller/ProfileControllerTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/community/profile/service/ProfileServiceTest.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/community/profile/utils/ProfileTestUtils.java
  backend-implicaction/src/test/java/com/dynonuggets/refonteimplicaction/filemanagement/controller/FileControllerIntegrationTest.java
  frontend-implicaction/src/app/community/community.module.ts
  frontend-implicaction/src/app/community/components/profile/profil-pic-with-hover/profil-pic-with-hover.component.html
  frontend-implicaction/src/app/community/components/profile/profil-pic-with-hover/profil-pic-with-hover.component.scss
  frontend-implicaction/src/app/community/components/profile/profil-pic-with-hover/profil-pic-with-hover.component.ts
  frontend-implicaction/src/app/community/components/profile/profile-avatar-file-uploader/profile-avatar-file-uploader.component.html
  frontend-implicaction/src/app/community/components/profile/profile-avatar-file-uploader/profile-avatar-file-uploader.component.ts
  frontend-implicaction/src/app/community/components/profile/tabs/edit-profile-tab/edit-profile-tab.component.html
  frontend-implicaction/src/app/community/components/profile/tabs/edit-profile-tab/edit-profile-tab.component.ts
  frontend-implicaction/src/app/community/services/profile/profile.service.ts
  frontend-implicaction/src/app/core/services/api-endpoints.service.ts
  frontend-implicaction/src/app/header/components/navbar-profile-dropdown/navbar-profile-dropdown.component.html
  frontend-implicaction/src/app/shared/components/user-avatar/user-avatar.component.html
  frontend-implicaction/src/app/shared/components/user-avatar/user-avatar.component.scss
  frontend-implicaction/src/app/shared/models/uris.ts
Labels: profil, back, front

#295 RI-244: ajoute un overlay-panel qui présente les infos de l'utilisateur
  frontend-implicaction/src/app/forum/components/category-content/category-content.component.html
  frontend-implicaction/src/app/forum/components/edit-topic-form/edit-topic-form.component.html
  frontend-implicaction/src/app/forum/components/message-block/message-block.component.html
  frontend-implicaction/src/app/forum/components/sub-category-list/sub-category-list.component.html
  frontend-implicaction/src/app/forum/components/topic-content/topic-content.component.html
  frontend-implicaction/src/app/forum/components/topic-list/topic-list.component.html
  frontend-implicaction/src/app/header/components/header/header.component.html
  frontend-implicaction/src/app/home/components/cards/jobs/latest-job-card/latest-job-card.component.html
  frontend-implicaction/src/app/home/components/cards/jobs/latest-job-card/latest-job-card.component.scss
  frontend-implicaction/src/app/home/components/lists/latest-jobs-list/latest-jobs-list.component.html
  frontend-implicaction/src/app/shared/components/cards/card-with-avatar-duration-and-title/card-with-avatar-duration-and-title.component.html
  frontend-implicaction/src/app/shared/components/profile-info-display/profile-info-display.component.html
  frontend-implicaction/src/app/shared/components/profile-info-display/profile-info-display.component.scss
  frontend-implicaction/src/app/shared/components/profile-info-display/profile-info-display.component.ts
  frontend-implicaction/src/app/shared/shared.module.ts
  frontend-implicaction/src/assets/primeng.scss
  frontend-implicaction/src/styles.scss
Labels: enhancement

#301 refact: [auth/sign-up] création d'un composant signup-form.component
  frontend-implicaction/src/app/app-routing.module.ts
  frontend-implicaction/src/app/auth/auth-routing.module.ts
  frontend-implicaction/src/app/auth/auth.module.ts
  frontend-implicaction/src/app/auth/components/auth-form-wrapper/auth-form-wrapper.component.html
  frontend-implicaction/src/app/auth/components/auth-form-wrapper/auth-form-wrapper.component.scss
  frontend-implicaction/src/app/auth/components/auth-form-wrapper/auth-form-wrapper.component.ts
  frontend-implicaction/src/app/auth/components/floating-input-with-validation/floating-input-with-validation.component.html
  frontend-implicaction/src/app/auth/components/floating-input-with-validation/floating-input-with-validation.component.scss
  frontend-implicaction/src/app/auth/components/floating-input-with-validation/floating-input-with-validation.component.ts
  frontend-implicaction/src/app/auth/components/forms/login-form/login-form.component.html
  frontend-implicaction/src/app/auth/components/forms/login-form/login-form.component.ts
  frontend-implicaction/src/app/auth/components/forms/signup-form/signup-form.component.html
  frontend-implicaction/src/app/auth/components/forms/signup-form/signup-form.component.ts
  frontend-implicaction/src/app/auth/models/forms/signup-request-form.ts
  frontend-implicaction/src/app/auth/models/signup-request-payload.ts
  frontend-implicaction/src/app/auth/pages/login-page/login-page.component.html
  frontend-implicaction/src/app/auth/pages/signup-page/signup-page.component.html
  frontend-implicaction/src/app/auth/pages/signup-page/signup-page.component.ts
  frontend-implicaction/src/app/auth/pages/signup/signup.component.html
  frontend-implicaction/src/app/auth/pages/signup/signup.component.ts
  frontend-implicaction/src/app/auth/pages/unauthorized-page/unauthorized-page.component.html
  frontend-implicaction/src/app/auth/pages/unauthorized-page/unauthorized-page.component.scss
  frontend-implicaction/src/app/auth/pages/unauthorized-page/unauthorized-page.component.ts
  frontend-implicaction/src/app/auth/pages/unauthorized/unauthorized.component.ts
  frontend-implicaction/src/app/auth/services/auth-form-validator.service.ts
  frontend-implicaction/src/app/community/components/profile/forms/profile-edit-form/profile-edit-form.component.html
  frontend-implicaction/src/app/community/components/profile/forms/profile-edit-form/profile-edit-form.component.ts
  frontend-implicaction/src/app/community/components/profile/tabs/edit-profile-tab/edit-profile-tab.component.html
  frontend-implicaction/src/app/community/components/profile/tabs/edit-profile-tab/edit-profile-tab.component.ts
  frontend-implicaction/src/app/shared/components/base-form/base-form.component.ts
  frontend-implicaction/src/app/shared/shared.module.ts
Labels: auth
